@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen select-none antialiased p-safe bg-zinc-900 text-zinc-50;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
